:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

mat-card, mat-card-content, a {
    max-height: 30px;
    max-width: 150px;
    padding: 0;
}

.message {
    padding: 1em;
    border: 1px solid #F44336;
    background-color: #FFCDD2;
    font-weight: bold;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: blue;
}

a:hover {
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: black;
}
