:host {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.hide-on-mobile {
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    /*width: 100%;*/
    flex: 1;
    background-color: #FAFAFA;
    /*padding-bottom: 1em;*/
    /*padding-right: 2em;*/
}

.label {
    background-color: white;
    flex: 1;
}

.value {
    background-color: red;
    flex: 1;
}

mat-card-footer {
    margin: 0;
}

mat-card {
    /*display: flex;*/
    padding: 0;
    flex: 1;
    /*width: 100%;*/
    /*min-height: 140px;*/
    /*height: 140px;*/
    /*max-height: 140px;*/
    /*overflow: hidden;*/
}

mat-card-content {
    display: flex;
    flex-direction: column;
    /*flex: 1;*/
    margin-bottom: 0;
    /*height: 100%;*/
    /*width: 100%;*/
    /*flex-wrap: wrap;*/
}

.content {
    display: flex;
    flex-direction: row;
}

.author {
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    /*justify-content: flex-start;*/
    /*align-items: flex-end;*/
    /*justify-content: flex-end;*/
    /*padding-top: 1em;*/
    /*width: 20%;*/
    /*max-width: 20%;*/
    /*box-sizing: border-box;*/
    flex: 1;
    flex-basis: 30%;
}

.author-info {
    display: flex;
    /*height: 100%;*/
    /*padding-left: 1em;*/
    padding-top: 1em;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-center;
    /*align-content: flex-end;*/
}

.name {
    /*padding: 1em;*/
    text-align: right;
    padding-top: 0.5em;
}


/*.date {*/


/*padding: 2em;*/


/*text-align: center;*/


/*align-items: center;*/


/*justify-content: center;*/


/*}*/

.avatar-image {
    /*display: flex;*/
    height: 100%;
    width: 130px;
    padding-left: 1em;
    /*flex: 1;*/
    /*width: 90px;*/
    /*min-width: 90px;*/
    /*max-width: 90px;*/
    /*min-height: 90px;*/
    /*height: 90px;*/
    /*max-height: 90px;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*border-radius: 20px;*/
    /*padding-right: 1em;*/
}


/*.hide-on-mobile {*/


/*display: flex;*/


/*}*/

.hide-on-monitor {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media only screen and (max-width: 700px) {
    .hide-on-mobile {
        display: none;
    }
}

@media only screen and (min-width: 700px) {
    .hide-on-monitor {
        display: none;
    }
}

a {
    text-decoration: none;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: blue;
}

a:hover {
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: black;
}

.star {
    color: gold;
}

.spacer {
    flex: 1;
}