<h3>Set Password</h3>
<form #passwordForm="ngForm" (ngSubmit)="submit()">
  <!--<mat-input-container>-->
    <!--<input matInput [(ngModel)]="currentPassword" type="password" required id="current-password" name="current-password">-->
    <!--<mat-placeholder>Current Password</mat-placeholder>-->
  <!--</mat-input-container>-->
  <mat-input-container>
    <input matInput [(ngModel)]="newPassword" type="password" required id="new-password" name="new-password">
    <mat-placeholder>New Password</mat-placeholder>
  </mat-input-container>
  <button mat-raised-button [disabled]="!passwordForm.form.valid" color="warn" type="submit">Submit</button>
</form>
