.row {
    margin-top: 1em;
}

.mat-form-field {
    padding-left: 1em;
    padding-right: 1em;
}

.active {
    background-color: silver;
}

a:hover,
a:active {
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

a:visited {
    text-decoration: none;
    color: #000;
}

mat-paginator {
    background: none;
}