:host {
    display: flex;
    justify-content: flex-end;
    /*align-content: flex-end;*/
    /*align-items: flex-end;*/
    background-color: #FAFAFA;
}

.author-info {
    padding-top: 1em;
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
}

.username {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.name {
    text-align: right;
    padding-top: 0.5em;
    /*display: flex;*/
    /*align-content: flex-end;*/
    /*align-items: flex-end;*/
    /*justify-content: flex-end;*/
}

.avatar-image {
    /*width: 130px;*/
    /*height: 130px;*/
    width: 110px;
    height: 110px;
    /*padding-left: 1em;*/
    /*padding-left: 1em;*/
    padding: 1em;
    border-radius: 20px;
    /*padding: 20px;*/
}

a {
    text-decoration: none;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: blue;
}

a:hover {
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: black;
}
