<mat-menu #filterMenu="matMenu">
    <div class="menu-search" (click)="$event.stopPropagation()">
        <form #filterForm="ngForm" [formGroup]="filterCtrl" (ngSubmit)="submit()">
            <mat-form-field>
                <input matInput placeholder="Search" aria-label="Search" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (change)="onValueChange($event)" placeholder="Order">
                    <mat-option *ngFor="let opt of sortOptions" [value]="opt">
                        <span>{{ opt }}</span>
                        <!--<img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />-->
                        <!--<span>{{ state.name }}</span> |-->
                        <!--<small>Population: {{state.population}}</small>-->
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="spacer"></div>
            <mat-form-field>
                <mat-select (change)="onOptChange($event)" placeholder="Order By">
                    <mat-option *ngFor="let opt of filterCtrl.value.opts" [value]="opt">
                        <span>{{ opt }}</span>
                        <!--<img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />-->
                        <!--<span>{{ state.name }}</span> |-->
                        <!--<small>Population: {{state.population}}</small>-->
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-slide-toggle (change)="onDescChange($event)" formControlName="desc">
                <mat-icon> {{ descIcon }} </mat-icon>
            </mat-slide-toggle>
        </form>
    </div>
</mat-menu>
<button mat-icon-button [matMenuTriggerFor]="filterMenu">
    <mat-icon> search </mat-icon>
</button>