<mat-card>
    <mat-card-header>
        <img mat-card-avatar *ngIf="upstream?.ident != undefined" class="upstream-image" src="/assets/{{ upstream?.ident }}.png">
        <mat-card-title><a routerLink="/{{ upstream?.ident }}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ upstream?.upstream_name }}</a></mat-card-title>
        <mat-card-subtitle><p>{{ upstream?.upstream_description }}</p></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions fxLayout>
        <a mat-icon-button color="accent" routerLink="/{{ upstream?.ident }}/info" routerLinkActive="active"><mat-icon aria-label="info"> info </mat-icon></a>
        <div *ngIf="!isMobile()" fxFlex="1 0 auto" fxLayoutAlign="end center">
            <a mat-button routerLink="/{{ upstream?.ident }}/laws" routerLinkActive="active" matTooltip="{{ upstream?.laws == null ? 0 : upstream.laws }}"><mat-icon color="accent"> chrome_reader_mode </mat-icon> Laws</a>
            <a mat-button routerLink="/{{ upstream?.ident }}/lawmakers" routerLinkActive="active" matTooltip="{{ upstream?.users == null ? 0 : upstream.users }}"><mat-icon color="accent"> people </mat-icon> Lawmakers</a>
            <a mat-button *ngIf="isAdmin()" routerLink="/{{ upstream?.ident }}/settings" routerLinkActive="active"><mat-icon color="warn"> build </mat-icon> Admin</a>
        </div>
        <div *ngIf="isMobile()" fxFlex="1 0 auto" fxLayoutAlign="end center">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon> menu </mat-icon></button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item routerLink="/{{ upstream?.ident }}/laws" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Laws</a>
                <a mat-menu-item routerLink="/{{ upstream?.ident }}/lawmakers" routerLinkActive="active">Lawmakers</a>
                <a *ngIf="isAdmin()" mat-menu-item routerLink="/{{ upstream?.ident }}/settings" routerLinkActive="active">Admin</a>
            </mat-menu>
        </div>
    </mat-card-actions>
</mat-card>
