<h3>Delete Account</h3>
<div class="label">{{ username }}</div>
<div class="label">This will delete your account. Type in your account name to confirm.</div>
<form #nameForm="ngForm" (ngSubmit)="submit()">
    <mat-input-container>
        <input matInput [(ngModel)]="confirm" type="text" required id="confirm" name="confirm">
        <mat-placeholder>Confirm</mat-placeholder>
    </mat-input-container>
    <button mat-raised-button [disabled]="!nameForm.form.valid" color="warn" type="submit">Submit</button>
</form>