.row {
    padding-bottom: 1em;
}

.username>mat-icon {
    padding-right: 0.2em;
}

.username {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.mat-button.active {
    background-color: silver;
}

.mat-menu-item.active {
    background-color: silver;
}

.full-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mat-card-title {
    padding-top: 1em;
    padding-left: 1em;
}

.mat-card-subtitle {
    padding-left: 1em;
}

.actions {
    background-color: #FAFAFA;
    padding: 1em;
    display: flex;
}

.email {
    display: flex;
    padding-top: 0.5em;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.email>mat-icon {
    padding-left: 0.2em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 1em;
    color: silver;
}

.full-name>mat-icon {
    padding-left: 0.2em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 1em;
    color: silver;
}

.mat-icon-button.active {
    color: silver;
}

@media only screen and (max-width: 600px) {
    .hide-on-mobile {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .hide-on-monitor {
        display: none;
    }
}

mat-card {
    padding: 0;
}

.mat-card-avatar {
    height: 110px;
    width: 100px;
    border-radius: 0;
}

a {
    text-decoration: none;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: black;
}

a:hover {
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: blue;
}

.record {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.laws {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: #7986CB;
}

.votes {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: #5C6BC0;
}

.title {
    font-size: 80%;
    padding-top: 1em;
    padding-left: 1em;
    color: white;
}

.value {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1;
    font-size: 200%;
}